.container {
  margin: 0 auto;
  width: 100%;
}

.clock-body {
  margin: 20px auto 5px;
  width: 60%;
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
  background-color: #555;
}

.holder {
  display: inline-block;
  width: 100%;
}

.time-display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  background-color: #555;
}

.hour,
.minute,
.second {
  flex-grow: 1;
  padding: 2%;
  font-size: 350%;
  color: chartreuse;
  border-radius: 3px;
  background-color: #555;
}

.dayOrNight {
  flex-grow: 0.05;
  padding: 5%;
  font-size: 100%;
  color: chartreuse;
  background-color: #555;
}

.buttons {
  margin: 0px auto;
  width: 60%;
  padding: 5px 0px;
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-basis: 200px;
  flex-wrap: wrap;
  flex-basis: 200px;
}

.buttons > div {
  flex-grow: 1;
  height: 0%;
  margin-top: 7px;
}

.set-alarm:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stop-clock:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.time,
.date,
.set-alarm,
.stop-clock {
  /* padding: 0% 1%; */
  transition: all 0.2s;
}

.time:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.date:hover {
  cursor: pointer;
  transform: scale(1.2);
}
