body {
  margin-top: 10%;
}
.clock-body {
  margin: 0px auto;
  height: 300px;
  width: 50%;
  border-radius: 3px;
  background-color: #333;
  text-align: center;
}

.time-display {
  display: inline-block;
  margin: 20px auto;
  width: 95%;
  height: 87%;
  border-radius: 3px;
  background-color: #ccc;
  overflow: hidden;
}

.hour,
.minute,
.second {
  display: inline-block;
  padding: 12% 6%;
  width: 20%;
  height: 100%;
  margin: 0% auto;
  border-radius: 1%;
  color: yellowgreen;
  font-size: 500%;
  background-color: black;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .hour,
  .minute,
  .second {
    padding: 30% 6%;
    font-size: 350%;
  }
}
