.container {
  margin: 0 auto;
  min-width: 995px;
  height: 500px;
}

.clock-body {
  margin: 20px auto 0px;
  width: 60%;
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
  background-color: #555;
  height: 40%;
}

.holder {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.time-display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  background-color: #555;
  height: 100%;
  align-items: center;
}

.hour,
.minute,
.second {
  flex-grow: 1;
  padding: 2%;
  font-size: 350%;
  color: chartreuse;
  border-radius: 3px;
  background-color: #555;
}

.dayOrNight {
  flex-grow: 0.05;
  padding: 5%;
  font-size: 100%;
  color: chartreuse;
  background-color: #555;
}

.buttons {
  margin: 0px auto;
  width: 60%;
  padding: 5px 0px;
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-basis: 200px;
  flex-wrap: wrap;
  flex-basis: 200px;
}

.buttons > div {
  flex-grow: 1;
  height: 0%;
  margin-top: 7px;
}

.set-alarm:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stop-clock:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.time,
.date,
.set-alarm,
.stop-clock {
  transform: scale(1);
  transition: all 0.2s;
}

.time:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.date:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.month {
  flex-grow: 1;
  padding: 2%;
  font-size: 320%;
  color: chartreuse;
  border-radius: 3px;
  background-color: #555;
}

.year {
  flex-grow: 1;
  padding: 2%;
  font-size: 320%;
  color: chartreuse;
  border-radius: 3px;
  background-color: #555;
  height: 60px;
}

.alarm-set {
  border-bottom: 1px solid chartreuse;
}

.hour2,
.minute2,
.second2,
.dayOrNight2 {
  flex-grow: 1;
  padding: 2%;
  font-size: 100%;
  color: chartreuse;
  background-color: #555;
}

.btn {
  font-family: "Nunito SemiBold";
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #555;
  font-weight: bold;
  color: chartreuse;
}

.btn:hover {
  cursor: pointer;
}

.shrinker {
  transform: scale(0.8);
}

.expand {
  transform: scale(1);
}
